In [1]:
## Imports
import pandas as pd
import json
import matplotlib.pyplot as plt
from datetime import datetime

In [4]:
## Load data
all = pd.read_pickle("../climate_classifier/scored_data/ft_meetings_total_2012-2022_2.1.pkl")

all["year"] = all["date"].str[:4]
all["month"] = all["date"].str[5:7]
all.head(2)

,speaker,politician,party,text,date,y_pred,year,month
0,Transportministeren Henrik Dam Kristensen,Henrik Dam Kristensen,(S),"Jeg synes, det er lidt ærgerligt, at hr. Lars ...",2012-10-03,climate,2012,10
1,Lars Christian Lilleholt (V),Lars Christian Lilleholt,(V),Det får jo ganske alvorlige konsekvenser både ...,2012-10-03,climate,2012,10

### General stats

In [5]:
all.groupby("y_pred").count()

             speaker  politician   party    text    date    year   month
y_pred
climate         7425        7425    7425    7425    7425    7425    7425
non-climate   208479      208479  208479  208479  208479  208479  208479

In [6]:
all.nunique()

speaker          833
politician       697
party             41
text          214835
date             990
y_pred             2
year              11
month             11
dtype: int64

In [13]:
pd.DataFrame(all["politician"].unique()).to_csv("sanity_check_pol.csv")