In [1]:
## Imports
import pandas as pd
import json
import matplotlib.pyplot as plt
from datetime import datetime

In [32]:
## Load data
all = pd.read_pickle("../climate_classifier/scored_data/ft_meetings_all_2.2.pkl")

all["year"] = all["date"].astype("str").str[:4]
all["month"] = all["date"].astype("str").str[5:7]
all["politician"] = all["politician"].str.strip()
all["id"] = all["date"]
all["id"] = all["id"].astype("category")
all["id"] = all["id"].cat.codes
all.head(2)

,speaker,politician,title,party,text,date,y_pred,year,month,id
0,Statsministeren Helle Thorning-Schmidt,Helle Thorning-Schmidt,Statsministeren,(S),(Talen er under udarbejdelse) (Talen er under ...,2012-10-02,non-climate,2012,10,0
1,Statsministeren Helle Thorning-Schmidt,Helle Thorning-Schmidt,Statsministeren,(S),Vi skal bringe Danmark godt og trygt gennem kr...,2012-10-02,non-climate,2012,10,0

In [33]:
print(len(all))
all = all.drop_duplicates(subset="text")
print(len(all))

240114
220456

In [34]:
climate = all[all["y_pred"]=="climate"]
print(len(all))
print(len(climate))

220456
10401

### General stats

In [35]:
all.groupby("y_pred").count()

,speaker,politician,title,party,text,date,year,month,id
y_pred,,,,,,,,,
climate,10401,10401,10401,10401,10401,10401,10401,10401,10401
non-climate,210055,210055,210055,210055,210055,210055,210055,210055,210055

In [37]:
all[all["y_pred"]=="climate"].nunique()

speaker         516
politician      305
title            38
party            19
text          10401
date            587
y_pred            1
year             11
month            10
id              587
dtype: int64

In [40]:
#pd.DataFrame(all["politician"].unique()).to_csv("sanity_check_pol.csv")

In [42]:
#Raw view 
climate.groupby(['title']).count().sort_values(by='text', ascending=False)['text'].head(20)

title
Member                                               8736
Energi-, forsynings- og klimaministeren               362
Klima-, energi- og forsyningsministeren               205
Skatteministeren                                      183
Statsministeren                                       166
Klima-, energi- og bygningsministeren                 109
Finansministeren                                      107
Miljøministeren                                       101
Transportministeren                                    85
Miljø- og fødevareministeren                           57
Transport-, bygnings- og boligministeren               40
Ministeren for fødevarer, landbrug og fiskeri          38
Udenrigsministeren                                     34
Erhvervsministeren                                     34
Ministeren for fødevarer, fiskeri og ligestilling      25
Morten Bødskov                                         18
Beskæftigelsesministeren                               14
Uddannelses- og forskningsministeren                   10
Fødevareministeren                                      7
Handels- og udviklingsministeren                        6
Name: text, dtype: int64