In [1]:
import word_tokenizer
import pandas as pd
from gensim import models

### Load climate-related FT meetings

In [2]:
df = pd.read_pickle("../climate_classifier/scored_data/ft_meetings_total_2012-2022_2.1.pkl")
df_c = df[df["y_pred"]=="climate"].reset_index(drop=True)
df_c.head(1)

,speaker,politician,party,text,date,y_pred
0,Transportministeren Henrik Dam Kristensen,Henrik Dam Kristensen,(S),"Jeg synes, det er lidt ærgerligt, at hr. Lars ...",2012-10-03,climate

In [3]:
## Add a comma + space in end of all texts
df_c["text"] = df_c["text"]+"<> "
df_c["politician"] = df_c["politician"].str.strip()
pol_c = df_c.groupby(['politician'])['text'].sum()
pol_c

politician
Aaja Chemnitz Larsen     Altså, den er jo inspireret lidt af tanken med...
Aki-Matilda Høegh-Dam    Tak for ordet. I rigsfællesskabet går vi en sp...
Aleqa Hammond            Arktis er jo så meget mere end bare forsvar, b...
Alex Ahrendtsen          Tak for det. Jeg må indrømme, at det er et sne...
Alex Vanopslagh          Tak til ordføreren for en passioneret tale om ...
                                               ...
Victoria Velasquez       Tak for spørgsmålet. Jeg synes egentlig ikke, ...
Villum Christensen       Tak for det. Liberal Alliance synes, at intent...
Zenia Stampe             Tak for det. Jeg kunne forstå, at SF's formand...
Özlem Sara Cekic         Tak, og tak til forespørgerne fra Dansk Folkep...
Øjvind Vilsholm          Tak til SF for at fremsætte et rigtig godt for...
Name: text, Length: 314, dtype: object

In [4]:
df_pol_c = pd.DataFrame(pol_c)
df_pol_c["politician"] = df_pol_c.index
df_pol_c = df_pol_c[["politician", "text"]].reset_index(drop=True)
print(len(df_pol_c.loc[4]["text"]))
df_pol_c

34753

                politician                                               text
0     Aaja Chemnitz Larsen  Altså, den er jo inspireret lidt af tanken med...
1    Aki-Matilda Høegh-Dam  Tak for ordet. I rigsfællesskabet går vi en sp...
2            Aleqa Hammond  Arktis er jo så meget mere end bare forsvar, b...
3          Alex Ahrendtsen  Tak for det. Jeg må indrømme, at det er et sne...
4          Alex Vanopslagh  Tak til ordføreren for en passioneret tale om ...
..                     ...                                                ...
309     Victoria Velasquez  Tak for spørgsmålet. Jeg synes egentlig ikke, ...
310     Villum Christensen  Tak for det. Liberal Alliance synes, at intent...
311           Zenia Stampe  Tak for det. Jeg kunne forstå, at SF's formand...
312       Özlem Sara Cekic  Tak, og tak til forespørgerne fra Dansk Folkep...
313        Øjvind Vilsholm  Tak til SF for at fremsætte et rigtig godt for...

[314 rows x 2 columns]

### Vectorize texts

In [5]:
MODEL_FILE = '../../../Models/word2vec/dsl_skipgram_2020_m5_f500_epoch2_w5.model/dsl_skipgram_2020_m5_f500_epoch2_w5.model'
model = models.Word2Vec.load(MODEL_FILE)

        ## Takes 2 min to load on Jonathan PC 2

## Used for vectorizing the description text (filtered)
words = set(model.wv.index_to_key)

In [6]:
## Remove stopwords and create lists containing words
df_pol_c['text_clean'] = df_pol_c['text'].apply(lambda x: word_tokenizer.tokenize(x))
df_pol_c.head(3)

,politician,text,text_clean
0,Aaja Chemnitz Larsen,"Altså, den er jo inspireret lidt af tanken med...","[altså, inspirere, lidt, tank, klimafond, hand..."
1,Aki-Matilda Høegh-Dam,Tak for ordet. I rigsfællesskabet går vi en sp...,"[tak, ord, rigsfællesskab, går, spændende, tid..."
2,Aleqa Hammond,"Arktis er jo så meget mere end bare forsvar, b...","[arktis, se, mere, bare, forsvare, beredskab, ..."

In [7]:
import numpy as np
pol_vect = np.array([np.array([model.wv[i] for i in ls if i in words])
                         for ls in df_pol_c["text_clean"]])
                         ## Takes 32 sec on Jonathan PC 2

C:\Users\COBOD\AppData\Local\Temp\ipykernel_13192\2123071034.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  pol_vect = np.array([np.array([model.wv[i] for i in ls if i in words])

In [8]:
# Why is the length of the sentence different than the length of the sentence vector?
for i, v in enumerate(pol_vect):
    print(len(df_pol_c["text_clean"].iloc[i]), len(v))

2822 2681
2110 2005
715 668
2500 2373
2995 2773
1427 1322
1182 1114
1601 1518
26 22
5804 5387
673 630
143 131
308 296
517 481
6623 6073
2585 2401
346 313
1282 1212
304 289
768 716
677 650
1411 1360
194 177
9446 8869
1060 999
1220 1136
57 49
103 97
1341 1256
2425 2229
2888 2714
119 110
660 597
598 567
218 211
461 425
3724 3440
2486 2333
6872 6322
1345 1277
2863 2707
338 311
345 327
1308 1279
538 493
2716 2544
389 366
18147 16884
2921 2721
1774 1686
481 449
1142 1073
366 325
747 706
12201 11382
61 55
162 151
16119 15293
1238 1156
485 457
573 546
6171 5892
77 72
103 93
2674 2519
1018 932
1220 1151
204 179
174 162
4636 4438
101 90
1381 1315
268 250
1907 1804
259 232
932 869
233 221
1144 1067
1280 1193
4983 4663
1390 1304
727 681
399 371
1087 1012
22121 20738
4844 4600
2025 1916
192 179
1069 1025
2255 2175
25 22
2551 2424
19 16
6465 6081
319 295
2359 2261
7660 7209
2161 2057
2880 2674
1172 1102
1869 1783
7228 6849
503 484
1445 1368
851 806
13161 12243
3199 2968
3871 3700
369 346
2793 2578
214 203
239 223
4571 4304
245 216
2636 2447
1373 1312
464 439
40 29
1463 1387
6203 5726
213 191
159 143
137 122
464 445
451 435
986 910
401 387
1129 1103
1300 1252
368 353
814 790
2824 2672
192 187
2694 2582
845 796
3322 3161
6983 6499
1363 1291
1092 1008
325 314
4452 4130
2595 2417
123 114
1300 1232
147 134
3074 2883
1142 1051
413 380
1007 966
41 37
469 444
3488 3248
4460 4137
5914 5610
4345 4135
166 151
2984 2862
2679 2494
27650 25555
1528 1437
12522 11807
5501 5102
3395 3253
399 372
13133 12250
2271 2102
2156 2060
1324 1255
1192 1115
526 498
2952 2733
660 636
349 340
561 526
4867 4679
5883 5558
1625 1559
5290 4913
491 463
430 407
816 750
180 173
661 609
683 667
10766 10104
534 485
493 480
5563 5150
373 358
523 500
53 48
312 296
2603 2500
820 769
11920 11220
958 915
113 105
1363 1314
618 580
7290 6803
2175 2070
11685 11110
1187 1088
797 759
766 720
1390 1308
2925 2772
2566 2448
13550 12680
3846 3611
1875 1740
10032 9436
507 474
8402 7815
5232 4857
598 565
432 400
4617 4325
3895 3646
1259 1151
578 531
1351 1263
183 172
12379 11496
483 476
1306 1218
1157 1069
5464 5103
3915 3720
10192 9423
44 42
1836 1756
89 86
714 674
351 333
2823 2708
1268 1185
8564 8100
1989 1866
530 511
71 64
1273 1182
1834 1716
23 18
472 431
587 567
519 501
4438 4099
4402 4217
3009 2860
12698 11779
7284 6935
10289 9515
242 236
2396 2210
17466 16354
7844 7412
731 683
627 572
10008 9549
3000 2846
1680 1578
648 608
940 891
3726 3418
12481 11708
1484 1389
220 207
25 20
12491 11437
4925 4578
1493 1377
822 778
3382 3173
64 60
5111 4927
546 513
4862 4461
1851 1744
5348 4968
3581 3461
222 215
105 98
69 64
408 392
4670 4330
27927 26067
1742 1662
1161 1090
643 587
4150 3859
130 123
10834 10022
2895 2705
282 271
2135 2055
2926 2683
316 294
15531 14282
5248 4974
2414 2298
63 57
1007 949
4227 4003
3002 2767
878 794
3368 3098
1177 1100
1357 1271
1249 1177
5882 5479
5088 4813
801 773
593 551

In [9]:
pol_vec_avg = []
for v in pol_vect:
    if v.size:
        pol_vec_avg.append(v.mean(axis=0))
    else:
        pol_vec_avg.append(np.zeros(100, dtype=float))

        ## Takes 0.4 sec Jonathan PC 2

In [10]:
# Are our sentence vector lengths consistent?
for i, v in enumerate(pol_vec_avg):
    print(len(df_pol_c["text_clean"].iloc[i]), len(v))

2822 500
2110 500
715 500
2500 500
2995 500
1427 500
1182 500
1601 500
26 500
5804 500
673 500
143 500
308 500
517 500
6623 500
2585 500
346 500
1282 500
304 500
768 500
677 500
1411 500
194 500
9446 500
1060 500
1220 500
57 500
103 500
1341 500
2425 500
2888 500
119 500
660 500
598 500
218 500
461 500
3724 500
2486 500
6872 500
1345 500
2863 500
338 500
345 500
1308 500
538 500
2716 500
389 500
18147 500
2921 500
1774 500
481 500
1142 500
366 500
747 500
12201 500
61 500
162 500
16119 500
1238 500
485 500
573 500
6171 500
77 500
103 500
2674 500
1018 500
1220 500
204 500
174 500
4636 500
101 500
1381 500
268 500
1907 500
259 500
932 500
233 500
1144 500
1280 500
4983 500
1390 500
727 500
399 500
1087 500
22121 500
4844 500
2025 500
192 500
1069 500
2255 500
25 500
2551 500
19 500
6465 500
319 500
2359 500
7660 500
2161 500
2880 500
1172 500
1869 500
7228 500
503 500
1445 500
851 500
13161 500
3199 500
3871 500
369 500
2793 500
214 500
239 500
4571 500
245 500
2636 500
1373 500
464 500
40 500
1463 500
6203 500
213 500
159 500
137 500
464 500
451 500
986 500
401 500
1129 500
1300 500
368 500
814 500
2824 500
192 500
2694 500
845 500
3322 500
6983 500
1363 500
1092 500
325 500
4452 500
2595 500
123 500
1300 500
147 500
3074 500
1142 500
413 500
1007 500
41 500
469 500
3488 500
4460 500
5914 500
4345 500
166 500
2984 500
2679 500
27650 500
1528 500
12522 500
5501 500
3395 500
399 500
13133 500
2271 500
2156 500
1324 500
1192 500
526 500
2952 500
660 500
349 500
561 500
4867 500
5883 500
1625 500
5290 500
491 500
430 500
816 500
180 500
661 500
683 500
10766 500
534 500
493 500
5563 500
373 500
523 500
53 500
312 500
2603 500
820 500
11920 500
958 500
113 500
1363 500
618 500
7290 500
2175 500
11685 500
1187 500
797 500
766 500
1390 500
2925 500
2566 500
13550 500
3846 500
1875 500
10032 500
507 500
8402 500
5232 500
598 500
432 500
4617 500
3895 500
1259 500
578 500
1351 500
183 500
12379 500
483 500
1306 500
1157 500
5464 500
3915 500
10192 500
44 500
1836 500
89 500
714 500
351 500
2823 500
1268 500
8564 500
1989 500
530 500
71 500
1273 500
1834 500
23 500
472 500
587 500
519 500
4438 500
4402 500
3009 500
12698 500
7284 500
10289 500
242 500
2396 500
17466 500
7844 500
731 500
627 500
10008 500
3000 500
1680 500
648 500
940 500
3726 500
12481 500
1484 500
220 500
25 500
12491 500
4925 500
1493 500
822 500
3382 500
64 500
5111 500
546 500
4862 500
1851 500
5348 500
3581 500
222 500
105 500
69 500
408 500
4670 500
27927 500
1742 500
1161 500
643 500
4150 500
130 500
10834 500
2895 500
282 500
2135 500
2926 500
316 500
15531 500
5248 500
2414 500
63 500
1007 500
4227 500
3002 500
878 500
3368 500
1177 500
1357 500
1249 500
5882 500
5088 500
801 500
593 500

In [11]:
df_pol_c["vec"] = pol_vec_avg
df_pol_c.head(1)

,politician,text,text_clean,vec
0,Aaja Chemnitz Larsen,"Altså, den er jo inspireret lidt af tanken med...","[altså, inspirere, lidt, tank, klimafond, hand...","[-0.099937215, 0.020752087, 0.070243455, -0.15..."

In [29]:
### Test politicians 
## Upper bound: Lars Christian Lilleholt, Mai Villadsen
## Not so much: Mette Gjerskov, Karen Hækkerup

up1 = df_pol_c[df_pol_c["politician"]=="Lars Christian Lilleholt"].reset_index(drop=True)
up2 = df_pol_c[df_pol_c["politician"]=="Mai Villadsen"].reset_index(drop=True)
bot1 = df_pol_c[df_pol_c["politician"]=="Mette Gjerskov"].reset_index(drop=True)
bot2 = df_pol_c[df_pol_c["politician"]=="Karen Hækkerup"].reset_index(drop=True)

print(model.wv.most_similar(positive=[up1["vec"][0]])[:5])
print(model.wv.most_similar(positive=[up2["vec"][0]])[:5])
print(model.wv.most_similar(positive=[bot1["vec"][0]])[:5])
print(model.wv.most_similar(positive=[bot2["vec"][0]])[:5])

[('fossiltfrit', 0.8480125069618225), ('retsundtagelse', 0.8469846248626709), ('libyenstrategi', 0.8469712734222412), ('2025aftale', 0.8466503024101257), ('parismålene', 0.8458715081214905)]
[('alenejeg', 0.8413612842559814), ('licensmuligheder', 0.8398793339729309), ('supertrist', 0.838851273059845), ('dobbeltstraffe', 0.83835768699646), ('allerallerhelst', 0.8383135199546814)]
[('upatruljeret', 0.8371339440345764), ('alenejeg', 0.835919201374054), ('dobbeltstraffe', 0.8354094624519348), ('allerallerhelst', 0.8345998525619507), ('0skabeloner', 0.8344907760620117)]
[('0skabeloner', 0.8473332524299622), ('upatruljeret', 0.8432225584983826), ('retssituation', 0.8423854112625122), ('barnebrudene', 0.8411011099815369), ('pensionsrettighed', 0.8409388661384583)]

In [36]:
print(model.wv.cosine_similarities(up1["vec"][0], [up2["vec"][0]])) ## Mai
print(model.wv.cosine_similarities(up1["vec"][0], [bot1["vec"][0]])) ## Mette G
print(model.wv.cosine_similarities(up1["vec"][0], [bot2["vec"][0]]) )## Karen Hæk

[0.97670025]
[0.968652]
[0.9421233]

In [39]:
df_votes_c = pd.read_pickle("./scikitv2/c_all_trans.pkl")
df_votes_c.head(1)

,party,politician,vote,description,date,vote_caller,y_pred,set,vote_id,Socialdemokratiet_weight_for,Socialdemokratiet_weight_against,Venstre_weight_for,Venstre_weight_against,vec,vec2,w_for,w_against,party2,vote_caller2
1,Dansk Folkeparti (DF),Alex Ahrendtsen,For,"Folketinget konstaterer, at den hidtil førte e...",2015-12-17,['Mikkel Dencker (DF)'],climate,train,"Afstemning nr. 183, 2015-16",0.570332,0.429668,0.079625,0.920375,[-1.04358420e-01 -1.38448412e-02 7.39112943e-...,"[-0.10435842, -0.0138448412, 0.0739112943, -0....",0.079625,0.920375,(DF),(DF)

In [45]:
vote1 = df_votes_c.loc[1]["vec2"]
print(model.wv.cosine_similarities(vote1, [up1["vec"][0]]))
print(model.wv.cosine_similarities(vote1, [up2["vec"][0]]))
print(model.wv.cosine_similarities(vote1, [bot1["vec"][0]]))
print(model.wv.cosine_similarities(vote1, [bot2["vec"][0]]))

[0.93099058]
[0.87828027]
[0.86871]
[0.84866758]

In [47]:
df_pol_c
df_pol_c.to_pickle("pol2vec.pkl")