In [2]:
## Imports
import pandas as pd
from datasets import Dataset, DatasetDict
import os

In [8]:
## Load DataFrame from CSV
file_path = "../climate_classifier/fine_tuning/ft_meetings_votes_995_covid.csv"

df_raw = pd.read_csv(file_path)
#df_raw = pd.read_pickle(file_path)
df = df_raw.drop(columns=["Unnamed: 0"])

#df['label'] = 1

#df = df[['tweet', 'label']]
print(len(df))
df.head(10)

996

                                                text  label
0  Det her gør vi med åbent sind, med løftet pand...      0
1  For hvordan kan vi fejre demokratiet, når det ...      0
2  Børn, som vokser op i sådanne områder, får ind...      0
3  Tak til ordføreren for talen. Jeg ved, at noge...      1
4  Men jeg vil blot helt overordnet sige, at rege...      0
5  I Nye Borgerlige foreslog vi, at dagens beslut...      0
6  I Venstre vil vi gerne bruge af det offentlige...      1
7  Jeg ved ikke, om jeg selv elsker biler, men je...      0
8  Vi har fundet en rigtig god løsning for de ned...      0
9  Altså, vi bliver nødt til at operere med en sa...      0

In [9]:


print(len(df))
df["label"] = df["label"].apply(lambda row: int(row))
df.head()

996

                                                text  label
0  Det her gør vi med åbent sind, med løftet pand...      0
1  For hvordan kan vi fejre demokratiet, når det ...      0
2  Børn, som vokser op i sådanne områder, får ind...      0
3  Tak til ordføreren for talen. Jeg ved, at noge...      1
4  Men jeg vil blot helt overordnet sige, at rege...      0

In [10]:
## Convert to Dataset
ds = Dataset.from_pandas(df, preserve_index=False)
ds.features

{'text': Value(dtype='string', id=None),
 'label': Value(dtype='int64', id=None)}

In [11]:
## Make test set split
dataset_dict_our = ds.train_test_split()
dataset_dict_our

dataset_dict_our

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 747
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 249
    })
})

In [12]:
## Save as DatasetDict
title_claims = "ft-meetings-votes-996.pkl"
title_climate = "ft-meetings-votes-966"
title_alt = file_path.split("/")[-1].split(".csv")[0]
print(title_alt)

dataset_dict_our.save_to_disk(title_climate+".dataset")

ft_meetings_votes_995_covid

Flattening the indices: 100%|██████████| 1/1 [00:00<00:00, 39.55ba/s]
Flattening the indices: 100%|██████████| 1/1 [00:00<00:00, 116.48ba/s]

In [ ]:
## Test to load dataset
ds_test = DatasetDict.load_from_disk(file_path + "name_123.dataset")

In [ ]:
## Inspect
ds_test

In [ ]:
#zip -r danfever_folketinget_claims.dataset.zip danfever_folketinget_claims.dataset