In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
climate_twitter_sample = pd.read_csv("klima_sample_twitter230.csv")
data_labeled_ft = pd.read_csv("/home/gugy/Documents/NLP-Climate-Politics-DK/climate_classifier/labeling/800_3sent_label703.csv")
data_twitter = pd.read_pickle("tw460.pkl")

In [8]:
data_twitter = data_twitter.rename({'tweet':'text'}, axis=1)
data_twitter = data_twitter[['text', 'label']]
train, test = train_test_split(data_twitter, test_size=.30)
train.reset_index(drop=True)
test.reset_index(drop=True)

                                                  text  label
121  @BirtheLauridsen .. som virksomhed, hvorfor fa...      0
76   RT @olebirkolesen: Politik er ikke et 100 mete...      0
26   En stor del af folketinget må have røde ører. ...      0
218  @EBjerkrheim Det fortæller mere end ord, hvor ...      0
209  RT @PPBjerregaard: Tidligere på ugen fremlagde...      1
..                                                 ...    ...
20   @Susanne_Zimmer_ Der er en grund til at Frie G...      0
22   @folketinget Er regeringen begyndt at have lov...      0
23   RT @madsfuglede: Ukrainske landmænd viser os h...      0
122  @VestergaardJorn @alexsjoeberg @majatgreenwood...      0
12   RT @concitoinfo: Hvis vi tænker løsningen af f...      1

[138 rows x 2 columns]

In [9]:
data_labeled_ft = data_labeled_ft[['text', 'label']]
data_labeled_ft.dropna(inplace=True)
len(data_labeled_ft)

703

In [10]:
combined = pd.concat([data_labeled_ft, train])
combined['label'] = combined.apply(lambda x: int(x['label']), axis=1)

                                                  text  label
0    Det her gør vi med åbent sind, med løftet pand...      0
1    For hvordan kan vi fejre demokratiet, når det ...      0
2    Børn, som vokser op i sådanne områder, får ind...      0
3    Tak til ordføreren for talen. Jeg ved, at noge...      1
4    Men jeg vil blot helt overordnet sige, at rege...      0
..                                                 ...    ...
121  @petertstaal @larskohler Det fundamentale prob...      1
213  RT @MariaGjerding: 2/2 Men i en tid med risiko...      0
62   RT @MariaGjerding: 2/2 Men i en tid med risiko...      0
47   Magten beskytter de villige soldater:\n"For go...      0
48   RT @wessendorfk: Klimaforandringerne oprethold...      1

[1025 rows x 2 columns]

In [11]:
combined.to_csv("labeled_ft_tw1025.csv")
test.to_csv("labeled_tw138_testing.csv")